<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Page de modification d'un jour férié
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li><a href="#">Paramétrage</a></li>
    <li class="active">Jour Férié</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Modification d'un jour férié</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
      <form #f="ngForm" (ngSubmit)="updateJourFerie(f.value)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Libellé</label>
              <input type="text" class="form-control" name="lib" [(ngModel)]="jourFeries.lib">
            </div>
            <div class="form-group">
              <label>Jour</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="Date" class="form-control pull-right" id="datepicker" name="jour" [(ngModel)]="jourFeries.jour">
              </div>
            </div>
            <div class="form-group">
              <label>Années</label>
              <select class="form-control select2" style="width: 100%;" name="annee" [(ngModel)]="currentAnnee">
                <option *ngFor="let annee of annees; let i = index" [ngValue]="annees[i]">
                  {{annee.annee}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" style="margin-top: 30px;">
              <div class="pretty p-svg p-curve">
                <input type="checkbox" name="estRecurrent" [(ngModel)]="jourFeries.estRecurrent">
                <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Recurrent</label>
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-top: 55px;">
              <div class="pretty p-svg p-plain">
                <input type="checkbox" name="estFixe" [(ngModel)]="jourFeries.estFixe">
                <div class="state p-danger">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Fixe</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input class="hidden" type="text" name="id" [(ngModel)]="jourFeries.id">
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          <button type="reset" class="btn btn-danger pull-right">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</section>
