<div class="alert-box">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="text-align:center; color:forestgreen;">Veuillez saisir votre adresse email pour recevoir un mail qui vous permettra de réinitialiser votre mot de passe</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onResetPassword(f.value)">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="email" placeholder="Saisir votre adresse email" ngModel>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-3 col-xs-offset-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Réinitialiser</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</div>
