<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SGA</b> 2.0</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Réinitialisationn mot de passe</p>

    <form #f="ngForm" (ngSubmit)="f.form.valid && onResetPassword(f.value)" novalidate>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="email" [(ngModel)]="utilisateur.email" readonly>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" [(ngModel)]="utilisateur.password" #password="ngModel" placeholder="Nouveau mot de passe" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="f.submitted && password.invalid" class="text-danger">
          <div *ngIf="password.errors.required">Mot de passe obligatoire</div>
        </div>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-3 col-xs-offset-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Enregistrer</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>

