<!-- Main content -->
<section class="content">
  <div class="register-box">
    <div class="register-logo">
      <a routerLink="/"><b>SG</b>A</a>
    </div>
    <div class="register-box-body">
      <h3 class="login-box-msg">Changer de mot de passe</h3>

      <form #f="ngForm" (ngSubmit)="f.form.valid && updateUtilisateur(f.value)" novalidate>
        <div *ngIf="f.submitted && errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <div *ngIf="f.submitted && succesMessage" class="alert alert-success">{{succesMessage}}</div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="password" [(ngModel)]="utilisateur.password" #password="ngModel" placeholder="Ancien mot de passe" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="f.submitted && password.invalid" class="text-danger">
            <div *ngIf="password.errors.required">Ancien mot de passe est requis</div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="newPassword" [(ngModel)]="utilisateur.newPassword" #newPassword="ngModel" placeholder="Nouveau mot de passe" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="f.submitted && newPassword.invalid" class="text-danger">
            <div *ngIf="newPassword.errors.required">Nouveau mot de passe est requis</div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="utilisateur.confirmPassword" #confirmPassword="ngModel" placeholder="Confirmer mot de passe" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required/>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <div *ngIf="f.submitted && confirmPassword.invalid" class="text-danger">
            <div *ngIf="confirmPassword.errors.required">Confirmation de mot de passe est requise</div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="submit" class="btn btn-primary btn-block btn-flat">changer de mot de passe</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

